* {
  border: 1px solid red;
  background-color: #1e1f2f;
}

.main-text {
  display: flex;
  align-items: center;

  /* position our box */
  position: absolute;
  left: 130px;
  top: 301px;

  /* box sizing */
  width: 800px;
  height: 400px;

  /* setting for font */
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 156px;
  line-height: 93%;
}
