* {
  box-sizing: border-box;
  font-family: Bebas Neue;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

body {
  display: flex;
  border: 1px solid red;
  width: 1611px;
  height: 936px;
  background-color: #1e1f2f;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

.right-container {
  display: flex;
}

p {
  font-size: 64px;
  letter-spacing: 5.12px;
}

.head {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.logo {
  display: flex;
  margin-top: 125px;
}

.box-white {
  width: 31.06px;
  height: 27.42px;
  background-color: #ffffff;
}

.box-red {
  width: 60.47px;
  height: 68.55px;
  margin-top: 27.42px;
  background-color: #e82c4f;
  padding: 16px;
}

#text-warmups {
  font-size: 96px;
  width: 331px;
  height: 96px;
}

.lorem-box {
  margin-top: 100px;
  width: 800px;
  height: 400px;
  padding: 50px;
  padding-left: 0;
}

#text-lorem {
  font-size: 156px;
  line-height: 93%;
}

.footer-container {
  display: inline-flex;
  justify-content: start;
  gap: 80px;
  margin-bottom: 91px;
}

.footer-item {
  display: flex;
  align-items: center;
}

.size {
  width: 48px;
  height: 48px;
}

.shape-container {
  box-sizing: border-box;
}

.small-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1249px;
  top: 585px;

  box-sizing: border-box;
  border: 20px solid #ffffff;
  border-radius: 42px;
}

.smallWhite-rectangle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1169px;
  top: 365px;

  box-sizing: border-box;
  border: 20px solid #ffffff;
}

.mediumRed-rectangle {
  position: absolute;
  width: 240px;
  height: 240px;
  left: 1089px;
  top: 305px;

  box-sizing: border-box;
  border: 40px solid #e82c4f;
}

.smallBlue-rectangle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1089px;
  top: 585px;

  box-sizing: border-box;
  border: 20px solid #3256a1;
}

.bigWhite-rectangle {
  position: absolute;
  width: 504px;
  height: 608px;
  left: 957px;
  top: 166px;

  box-sizing: border-box;
  border: 60px solid #ffffff;
}

.rectangle-above {
  position: absolute;
  width: 558px;
  height: 644px;
  left: 1169px;
  top: -179px;
  box-sizing: border-box;
  border: 60px solid #48596d;
}

.rectangle-below {
  position: absolute;
  width: 558px;
  height: 644px;
  left: 691px;
  top: 385px;
  box-sizing: border-box;
  border: 60px solid #2d2f48;
}
